@keyframes animateGrow {
	from {
		transform: scale(0.66);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadeInBottom {
	from {
		transform: translate(0, 100%);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fadeInTop {
	from {
		transform: translate(0, -100%);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fadeInRight {
	from {
		transform: translate(100%, 0);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

@keyframes animateWidth {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes toastFadeIn {
    from {
    	opacity: 0.2;
    	transform: translate(-50%, 120%);
   	}

    to {
    	opacity: 1;
    	transform: translate(-50%, -30px);
    }
}

@keyframes toastFadeOut {
    from {
    	opacity: 1;
    	transform: translate(-50%, -30px);
   	}

    to {
    	opacity: 0.2;
    	transform: translate(-50%, 120%);
    }
}