@import 'vars';


a.button,
input.button {
	font-weight: bold;
	display: inline-block;
	width: auto;
	border-radius: 3px;
	text-align: center;
	line-height: 1em;
	padding: 1rem 1.2rem;
	font-size: 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: $colorGrey;
	background-color: transparent;
	text-decoration: none;

	margin: 0 5px 5px 0;

	&.square {
		padding: 1rem;
	}

	&:link, 
	&:visited {
		color: $colorDarkBlue;
	}

	&:hover,
	&:active {
		text-decoration: none;
		color: $colorDarkGrey;
	}

	&.active {
		background-color: $colorLightGrey;
	}

	&.red {
		border-color: $colorRed;
		color: $colorRed;
	}

	&.red.inverse,
	&.red:hover,
	&.red:active {
		color: white;
		background-color: $colorRed;
	}

	&.red.inverse:hover {
		background-color: darken($colorRed, 10%);
		border-color: darken($colorRed, 10%);
	}

	&.green {
		border-color: $colorGreen;
		color: $colorGreen;
	}

	&.green.inverse,
	&.green:hover,
	&.green:active {
		color: white;
		background-color: $colorGreen;
	}

	&.green.inverse:hover {
		background-color: darken($colorGreen, 10%);
		border-color: darken($colorGreen, 10%);
	}

	&.blue {
		border-color: $colorBlue;
		color: $colorBlue;
	}

	&.blue.inverse,
	&.blue:hover,
	&.blue:active {
		background-color: $colorBlue;
		color: white;
	}

	&.blue.inverse:hover {
		background-color: darken($colorBlue, 10%);
		border-color: darken($colorBlue, 10%);
	}

	&.orange {
		border-color: $colorOrange;
		color: $colorOrange;
	}

	&.orange.inverse,
	&.orange:hover,
	&.orange:active {
		background-color: $colorOrange;
		color: white;
	}

	&.orange.inverse:hover {
		background-color: darken($colorOrange, 10%);
		border-color: darken($colorOrange, 10%);
	}

	&.grey {
		color: $colorGrey;
		border-color: $colorGrey;
	}

	&.grey.inverse,
	&.grey:hover,
	&.grey:active {
		background-color: $colorGrey;
		color: white;
	}

	&.grey.inverse:hover {
		background-color: darken($colorGrey, 10%);
		border-color: darken($colorGrey, 10%);
	}

	&.disabled,
	&.disabled:visited,
	&.disabled:hover,
	&.disabled:link,
	&.disabled:active,
	&.disabled.inverse,
	&.disabled.inverse:visited,
	&.disabled.inverse:hover,
	&.disabled.inverse:link,
	&.disabled.inverse:active {
		background-color: $colorLightGrey;
		border-color: $colorLightGrey;
		color: #ccc;
		cursor: default;
	}

	&.hidden {
		display: none;
	}

	i[class^="icon-"]:before {
		font-size: 99%;
	}

	i.no-margin-left,
	i.no-margin-left:before {
		margin-left: 0;
	}
}

input.button {
	cursor: pointer;
	-webkit-appearance: none;
	font-family: 'Proxima Nova';
}