@import 'vars';


div.oui-modal.oui-dialog {

	div.wrapper {
		width: 280px;
		min-width: auto;
		max-width: none;

		div.body {
			padding: 20px;

			p {
				margin: 0;
			}
		}

		div.footer {
			display: flex;
			justify-content: flex-end;
			padding: 0 20px 20px 20px;
			border-top: 0;

			a {
				&:link,
				&:visited {
					color: $colorBlue;
					text-transform: uppercase;
					margin-left: 1rem;
					font-weight: bold;
					display: inline-block;
    				padding: 0 5px;
				}

				&:hover {
					color: lighten($colorBlue, 15%);
				}
			}
		}
	}
}

@media only screen and (max-width: $tabletWidth) {
	div.oui-modal.oui-dialog {
		align-items: center;
		justify-content: center;

		div.wrapper {
			width: 280px;
			border-radius: 3px;
			box-shadow: $basicShadow;
			min-width: auto;
			max-width: none;
		}
	}
}