@import 'vars';


.oui-modal.oui-dialog {

	.wrapper {
		width: 280px;
		min-width: auto;
		max-width: none;

		.body {
			padding: 20px;

			p {
				margin: 0;
			}
		}

		.footer {
			display: flex;
			justify-content: flex-end;
			padding: 0 20px 20px 20px;
			border-top: 0;

			a,
			button {
				color: $colorBlue;
				text-transform: uppercase;
				margin-left: 1rem;
				font-weight: bold;
				display: inline-block;
				padding: 0 5px;

				&:visited {
					color: $colorBlue;
				}

				&:hover,
				&:focus {
					color: lighten($colorBlue, 15%);
				}
			}
		}
	}
}

@media only screen and (max-width: $tabletWidth) {
	.oui-modal.oui-dialog {
		align-items: center;
		justify-content: center;

		.wrapper {
			width: 280px;
			border-radius: 3px;
			box-shadow: $basicShadow;
			min-width: auto;
			max-width: none;
			animation: animateGrow 0.5s;
		}
	}
}