@font-face {
    font-family: 'Proxima Nova';
    src: url("https://static.oktopost.com/fonts/ProximaNova-Reg-webfont.eot");
    src: url("https://static.oktopost.com/fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("https://static.oktopost.com/fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("https://static.oktopost.com/fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("https://static.oktopost.com/fonts/ProximaNova-Reg-webfont.svg#proxima_nova_ltsemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("https://static.oktopost.com/fonts/ProximaNova-Sbold-webfont.eot");
    src: url("https://static.oktopost.com/fonts/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("https://static.oktopost.com/fonts/ProximaNova-Sbold-webfont.woff") format("woff"), url("https://static.oktopost.com/fonts/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("https://static.oktopost.com/fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold") format("svg");
    font-weight: bold;
    font-style: normal;
}
