@import 'vars';
@import 'mixin';


div.oui-hover-menu {
	
	div.oui-hover-menu-underlay {
		
	}

	div.wrapper {
		position: absolute;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: $basicShadow;
	    width: 300px;
	    z-index: 100;
	}
}