@import 'vars';
@import 'mixin';


div.oui-menu {
	@include fixed-layer(100);

	div.oui-menu-underlay {
		@include fixed-layer(90);
	}

	div.wrapper {
		position: absolute;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: $basicShadow;
	    width: 300px;
	    z-index: 100;
	}
}