@import 'vars';
@import 'animations';
@import 'mixin';


.oui-modal {
	@include fixed-layer(100);

	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	transition: opacity 0.2s;

	.oui-modal-underlay {
		@include fixed-layer(90);
		
		transition: opacity 0.2s;
		background-color: rgba(0, 31, 45, 0.6);
	}

	.wrapper {
		position: relative;
		box-sizing: border-box;
		width: 50%;
		z-index: 100;
		background: white;
		text-align: left;
		border-radius: 3px;
		box-shadow: $basicShadow;
		animation: animateGrow 0.5s;
		overflow-y: auto;
		min-width: 480px;
		max-width: 720px;
		transition: transform 0.3s, opacity 0.3s;

		.head {
			background-color: $colorLightGrey;
			padding: 15px 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.body {
			padding: 25px;
			max-height: 50vh;
			overflow-y: auto;
		}

		.footer {
			padding: 15px 25px;
			border-top: 1px solid #eee;
			display: flex;
			justify-content: space-between;
		}
	}
	
	&.from-right, &.big {
		justify-content: flex-end;

		.wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;			
			border-radius: 0;
			min-width: 640px;
			max-width: 900px;
			animation: fadeInRight 0.5s;
			transition-duration: 0.5s;


			.head {
				min-height: 55px;
				box-sizing: border-box;
			}
			
			.body {
				max-height: none;
				flex-grow: 2;
			}
		}
	}

	&.from-bottom {
		.wrapper {
			animation: fadeInBottom 0.5s;
		}
	}

	&.hiding {
		.wrapper {
			opacity: 0;
			transform: scale(0.25);
		}

		&.from-right .wrapper, &.big .wrapper {
			transform: translate(100%, 0);
		}

		&.from-bottom .wrapper {
			transform: translate(0, 100%);
		}

		.oui-modal-underlay {
			opacity: 0;
		}
	}

	.close {
		color: $colorDarkGrey;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		font-size: 1.1333rem;
		line-height: 1.1333rem;

		&:visited {
			color: $colorDarkGrey;
		}

		&:hover {
			text-decoration: none;
			color: $colorDarkBlue;
		}
	}
}

@media only screen and (max-width: $tabletWidth) {
	.oui-modal {
		align-items: initial;
		justify-content: flex-start;

		.wrapper, &.big .wrapper, &.from-right .wrapper {
			box-shadow: none;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}

		.wrapper {
			flex-direction: column;
			border-radius: 0;
			animation: fadeInRight 0.5s;

			.body {
				max-height: none;
				flex-grow: 2;
			}
		}

		&.hiding {
			.wrapper {
				transform: translate(100%, 0);
			}

			&.from-bottom .wrapper {
				transform: translate(0, 100%);
			}
		}
	}
}