@import 'vars';


form.search-form {
	position: relative;
	display: inline-block;

	
	button {
		position: absolute;
	    top: 12px;
	    right: 12px;
	}

	input[type="text"] {
		display: block;
		font-family: 'Proxima Nova';
		line-height: 1rem;
		padding: 1rem 2rem 1rem 1rem;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 3px;
		width: 140px;
		font-size: 1rem;
		color: $colorDarkBlue;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:focus {
			outline: 0;
		}
	}
}