@import 'vars';


form.search-form {
	position: relative;
	display: inline-block;

	
	i.toggle-button {
		position: absolute;
	    top: 13px;
	    right: 15px;
		border: none;
		cursor: pointer;
		user-select: none;
		background: transparent;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		color: $colorLightBlue;
		font-size: 1.1333rem;
	}

	input.search-input {
		display: block;
		font-family: 'Proxima Nova';
		line-height: 1rem;
		padding: 1rem 2rem 1rem 1rem;
		border-radius: 3px;
		width: 140px;
		font-size: 1rem;
		color: $colorDarkBlue;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:focus {
			outline: 0;
		}
	}

	input.search-input::placeholder {
		color: $colorLightBlue;
	}
}