@import 'animations';


div.oui-toast {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -30px);
	padding: 1rem 1.2rem;
	border-radius: 3px;
	z-index: 100;	
	justify-content: space-between;
	background-color: rgba(0, 31, 45, 0.8);
	min-width: 250px;
	animation: toastFadeIn 0.35s;	

	p {
		margin-bottom: 0;
		color: white;
		margin-right: 1rem;
	}

	a {
		color: white;
	}

	&.removing {
		animation: toastFadeOut 0.35s;
	}
}