@import 'animations';


div.oui-toast {
	position: fixed;
	display: inline-block;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -30px);
	padding: 1rem 1.2rem;
	border-radius: 3px;
	z-index: 100;	
	justify-content: space-between;
	background-color: rgba(0, 31, 45, 0.8);
	max-width: 50vw;
	animation: toastFadeIn 0.35s;

	div {
		display: flex;
	}

	p {
		margin-bottom: 0;
		color: white;
	}

	a.cta-link:link,
	a.cta-link:visited {
		margin-left: 15px;
		font-weight: bold;
		color: #96ceff;
		white-space: nowrap;
	}

	a.cta-link:hover {
		text-decoration: underline;
	}

	&.removing {
		animation: toastFadeOut 0.35s;
	}
}