@import 'animations';
@import 'vars';


div.oui-toast {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -30px);
	z-index: 100;
	max-width: 50vw;
	animation: toastFadeIn 0.35s;

	div {
		display: inline-flex;
		padding: 1rem 1.2rem;
		border-radius: 3px;
		justify-content: space-between;
		background-color: rgba(0, 31, 45, 0.8);
	}

	p {
		margin-bottom: 0;
		color: white;
	}

	a.cta-link:not(:empty) {
		&:link,
		&:visited {
			margin-left: 15px;
			font-weight: bold;
			color: #96ceff;
			white-space: nowrap;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&.removing {
		animation: toastFadeOut 0.35s;
	}
}


@media only screen and (max-width: $minScreenWidth) {
	div.oui-toast {
		max-width: initial;
    	width: 66%;
	}
}

@media only screen and (max-width: $tabletWidth) {
	div.oui-toast {
		max-width: initial;
    	width: 80%;
	}
}