@import 'vars';
@import 'mixin';


.oui-toggle-menu {
	@include fixed-layer(100);

	.oui-toggle-menu-underlay {
		@include fixed-layer(90);
	}

	.wrapper {
		position: absolute;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: $basicShadow;
	    width: 300px;
	    z-index: 100;
	}
}