@import 'vars';
@import 'mixin';


.oui-tour-tip {
	@include fixed-layer(100);

	.oui-tour-tip-underlay {
		@include fixed-layer(90);
		background-color: rgba(0, 31, 45, 0.6);
	}

	& > .wrapper {
		position: absolute;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: $basicShadow;
	    width: 300px;
	    z-index: 100;
	    padding: 20px;
	}
}