@import 'vars';
@import 'mixin';


div.oui-tour-tip {
	@include fixed-layer(100);

	div.oui-tour-tip-underlay {
		@include fixed-layer(90);
	}

	div.wrapper {
		position: absolute;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: $basicShadow;
	    width: 300px;
	    z-index: 100;
	    padding: 20px;
	}

	.oui-tour-tip-underlay {
		background-color: opacify($colorDarkBlue, 0.6);
	}
}