/**
 * Colors
 */

$colorBlue: #006bca;
$colorDarkBlue: #001F2D;

$colorDarkGrey: #999;
$colorGrey: #CCC;
$colorLightGrey: #F5F5F5;

$colorLavender: #AA4DD6;
$colorOrange: #F9980E;
$colorGreen: #7cbf00;
$colorRed: #CC0029;
$colorBrown: #776014;

$colorLightYellow: #FFFEDA;
$colorHighlight: #FFE696;

/**
 * Network Colors
 */
$colorFacebook: #3B5998;
$colorTwitter: #1DA1F3;
$colorLinkedIn: #007BB6;
$colorGoogle: #DB4437;
$colorInstagram: #E1306C;

/**
 * Layout
 */
$navWidth: 70px;

/**
 * Shadow
 */
$basicShadow: 0 8px 20px rgba(0, 0, 0, 0.45);

/**
 * Font Names
 */
$basicFont: 'Proxima Nova', 'Helvetica', 'Arial', 'sans-serif';

/**
 * Responsive
 */
$minScreenWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 640px;