/**
 * @see https://www.gridlover.net/try
 */

html {
	font-size: 15px;
	line-height: 23px;
}

body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 1rem;
	line-height: 1.5333333rem;
	margin: auto;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	min-height: 100vh;
}

a:link,
a:visited {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 0;

}

h1 {
	font-size: 2.1333rem;
	line-height: 2.1333rem;
}

h2 {
	font-size: 1.6rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 1.333rem;
	line-height: 1.333rem;
}

h4 {
	font-size: 1.1333rem;
	line-height: 1.1333rem;
}

h5 {
	font-size: 1rem;
	line-height: 1rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 0rem;
	margin-bottom: 1.5333333rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}