@import 'vars';


.video-wrapper {
	margin-bottom: 15px;

	video {
		max-width: 100%;
	}

	.video-spinner {
		margin: auto;

		&.hidden {
			display: none;
		}
	}

	.video-preview {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: $colorDarkBlue;

		svg {
			width: 20%;
			fill: white;
		}

		&.hidden {
			display: none;
		}
	}

	.video-error {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: $colorLightGrey;
		padding: 20px 0;

		&.hidden {
			display: none;
		}
	}
}